@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Quicksand:wght@400;600;700&family=Roboto:ital,wght@0,400;0,900;1,500&display=swap');
:root{
    --Playfair:'Playfair Display',serif;
    --Quicksand:'Quicksand',sans-serif;
    --Roboto:'Roboto',sans-serif;
    --dark:#3c393d;
    --exdark:#171717;

}
    /* start 9:30  */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0;
    padding: 0 1.2rem;
}
/* finish */
/* start header */
header{
    height: 100vh;
    
    background-image: url(../image/pexels-snapwire-292442.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.nav-bar{
    padding:  1.2rem;
    background-color: #363737;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navigation .logo h1{
    color: azure;
    font-size: 2rem;
    display: block;
    transition: all.5s linear;
    font-family: var(--Quicksand);

}
.navigation .logo h1:hover{
    
    letter-spacing: 0.1rem;

}
.navbar-nav{
    padding: 0.8rem 0 0.2rem 0;
}
.navbar-nav a{
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    text-decoration: none;
    color: #fff;
    font-family: var(--Roboto);
    letter-spacing: 0.2rem;
    transition: opacity all.0.5s linear;
} 
.navbar-nav a:hover{
    opacity: 0.5;
}
/* nav finish */
/* start banner */
.banner{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    margin-top: 9%;
    
}
.banner-title {
    font-size: 2rem;
    font-family: var(--Roboto);
}
.banner-title h2 span{
     color:var(--exdark) ;
}
.banner-title p{
    font-size: 0.9rem;
}
.forma{
    background-color:#fff;
    padding: 0.6rem 0.1rem;
    margin-top: 4%;
    border-radius: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
}
.forma .search{
    width: 70%;
    border: none;
    outline: none;
    font-size: 1.2rem;
    text-transform: capitalize;
}
input::placeholder{
    font-size: 1.2rem;
}
.forma .btn-icon{
    border: none;
    outline: none;
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
    cursor: progress;
}
/* header section end  */
/* seciton start */
.Design {
    padding: 4.5rem;
}
.title {
    text-align: center;
    z-index: 1;
    line-height: 2rem;
    color: var(--exdark);
}
.title h2{
    display: block;
    font-family: var(--Playfair);
    margin-top: 2rem;
    font-size: 2.1rem;
    letter-spacing: 0.1rem;

}
.titile p{
    margin-top: 2%;
}
.design-content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:20px;
    margin-top: 6%;
    
}
.design-item{
    cursor: pointer;
    margin: 0;
}

.design-img {
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
}
.design-img  {
    transition: all.5 ease;
}
.design-img img:after {
   position: absolute;
   content: " ";
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.2);

}
.design-img img{
    transition: all.5s linear
}
.design-img img:hover{
    transform: scale(1.2);



}
.design-img span:first-of-type{
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: var(--exdark);
    color: #fff;
    padding: 0.3rem 0.5rem;
    letter-spacing:0.1rem;

}
.design-img span:last-of-type{
    z-index: 1;
    position: absolute;
    color:#fff;
    letter-spacing: 0.1rem;
    bottom:10px;
    right:10px;
    font-family: var(--Roboto);
    font-weight: bold;
}
.design-img .fa-heart{
    color:red;
}
.design-title{
    text-align: center;
    margin-top: 1.2rem;

}
.design-title a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900;
    font-family: var(--Quicksand);
    color: var(--exdark);
    margin-bottom: 2rem;
    margin-top: -1rem;

}
/* section end */
/* start blog */
.blog{
    width: 100%;
     margin-top: 5%;
     margin-left: -6%;
     position: absolute;
    padding: 4rem 0;
    background-color:rgb(214,214,214);
}
.blog .titile{
    text-align: center;
    font-family:var(--Playfair);
    padding-left: 5%;
  margin-top: -0.5%;
  margin-bottom: 50px;
  padding: -55px;
  font-size: 25px;
}
.blog-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-left: 5%;
   }
   .blog-item{
    overflow: hidden;
    cursor: grab;
   }
   .blog-img{
    position: relative;
    overflow: hidden;
    margin-bottom: 2rem;
   }
   .blog-img span{
      position: absolute;
      z-index: 1;
      right: 10px;
      bottom: 10px;
      background-color: var(--dark);
      padding: 0.3rem 1rem;
      color:white;
      font-size: larger;
      border-radius:0.5rem;
      transition: all.5s linear;
   }
   .blog-img span:hover{
    color:red;
    border-radius:10rem;
    
 }

.blog-title span{
    font-family: var(--Quicksand);
}
.blog-title h2{
    margin-top: 1rem;
    font-family: var(--exdark);
    font-family: var(--Playfair);
    margin-bottom: 1rem;
    font-weight: 300;
}
.blog-title p{
    text-transform: capitalize;
    color: var(--dark);
    font-weight: 100;
    margin-bottom: 1rem;
}
.blog-title a {
    text-decoration: none;
    text-align: center;
    background-color:var(--dark);
    color: white;
    font-size: 1.3rem;
    padding: 0.3rem 0.7rem;
    border-radius:2px;
}
.blog-title a:hover{
   color:azure;
   background-color:rgb(153,0,0)
}
 /* .blog end  */
 /* start about  */
 .about {
    position:;
    margin-left: 5%;
    width: 150%;
    margin-top: 122rem;
    background-color: #fff;
    padding: 6.10rem;
 }
 .about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
 }
 .about-item{
    text-align: center;
 }
 .about-item h1{
    display: block;
    text-transform: capitalize;
    font-family: var(--Playfair);
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-left: -82%;
    
    
 }
 .about-item span{
    text-transform: capitalize;
    font-family: var(--Roboto);
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    font-weight: 80;
    margin-left: -82%;

 }
 .about-item p{
    text-align: left;
    margin-top: 1rem;
    font-family: var(--Quicksand);
    letter-spacing: 0.1rem;
    margin-top: 1.2rem;
  margin-left: -22%;

 }
 .about-img img{
    width: 90%;
    margin-left: -35%;
    height: 550px;
    margin-left: -28%;
    
 }
 /* about end  */
 /* start footer  */
 .footer{
    padding: 4.2rem 0;
    background-color:var(--dark);
 
 }
 .socia-media {
    text-decoration: none;

 }
 .social-media .fa-brands {
    color:azure;
    font-size: 1.2rem;
    padding-left: 2rem;
    border:1px solid white ;
    padding: 0.6rem 0.6rem;
    border-radius:100%;
    transition: all.5s linear;
    margin-bottom: 1rem;
 }
 .social-media .fa-brands:hover{
    background-color:#fff;
    color:var(--exdark);
 }
 .footer-title{
    color:#fff;
    text-transform: capitalize;
    font-size: 1.4rem;
 }
 .navbar-nav i{
    
    display: none;
 }
 @media only screen and (max-width:800px){
    .navbar-nav {
        
        display: none;
    }
    .navbar-nav i{
        display: block;
        color: beige;
        transition: all.5s linear;
      }
      .navbar-nav i:hover{
        opacity: 0.5;
      }
      .banner-title{
        font-size: 3.5rem;
      }
      .banner-title p{
        font-size: 0.9rem;
        padding-bottom: 1.5rem;

      }
      .design-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
        gap:2rem;
      }
      .blog-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 0;
        gap:2rem;
      
      }
      .about-content{
        display: grid;
        grid-template-columns: repeat(1,1fr);
      }
 }

 